extends ../template/default
  
block content
  section.hero.is-primary.is-bold
    .hero-body
      .container
        h1.title Blog

  section.section
    div.container
      div.content
        h2.title Sun, 12 Nov - Hello World!
        ul
          li The server is now open for testing ([BETA] Game Limits)
