extends ../template/default
  
block content
  section.section
    div.container
      h1.title Day-Z (RPG, Cars, Zombies)
      hr
      div.content
        //- p Welcome to the Day-Z Rust server site!
        pre WTF
