extends ../template/default

block content
  section.hero.is-medium.is-white(style='background-image: url(/img/header.png); background-size: cover; background-position: center center;')
    .hero-body
      .container
        h1.title Game Limits 11.16 |Levels|Cars|Shop|Teleport|Chatlogs|PvP|Kits|BuildRemove|
        //- a.button.is-primary(href='steam://connect/108.61.98.143:28016') Click here to join our server!
        div.buttons.has-addons
          a.button.is-primary.is-outlined(href='https://discord.gg/se7U5BR' target='_blank') Discord
          a.button.is-primary.is-outlined(href='https://www.battlemetrics.com/servers/rust/1667976' target='_blank') Battle Metrics
          a.button.is-primary.is-outlined(href='http://steamcommunity.com/groups/rust-gamelimits' target='_blank') Steam Group
  section.hero
    div.hero-body
      div.container.has-text-centered
        div.columns.is-vcentered
          div.column.is-5
            figure.image.is-4by3
              img(src='/img/rpg.png' alt='RPG')
          div.column.is-6.is-offset-1
            h1.title.is-2 Leveling
            h2.subtitle.is-4 Improve your mining, woodcutting, skinning or acquiring skills to increase the amount of resources you can harvest.

  section.hero
    div.hero-body
      div.container.has-text-centered
        div.columns.is-vcentered
          div.column.is-6.is-offset-1
            h1.title.is-2 Online chatlogs
            h2.subtitle.is-4 Raided someone, and want to read their salty chat when you're offline? You can see the chat history of the server!
          div.column.is-5
            figure.image.is-4by3
              img(src='/img/chat.png' alt='Online chatlogs')
  
  section.hero
    div.hero-body
      div.container.has-text-centered
        div.columns.is-vcentered
          div.column.is-5
            figure.image.is-4by3
              img(src='http://placehold.it/800x600' alt='VIP')
          div.column.is-6.is-offset-1
            h1.title.is-2 VIP
            h2.subtitle.is-4 Want to support the development and server costs? Awesome! You'll get reward points in return of your donation! Which you can spent to ingame items and kits.

  section.hero
    div.hero-body
      div.container.has-text-centered
        div.columns.is-vcentered
          div.column.is-6.is-offset-1
            h1.title.is-2 Active admins
            h2.subtitle.is-4 We have multiple admins on this server (which do not play on the server). Just mention the admin in chat and all of our admins and moderators will get a notification.
          div.column.is-5
            figure.image.is-4by3
              img(src='/img/admin.png' alt='Admin')

  section.hero
    div.hero-body
      div.container.has-text-centered
        div.columns.is-vcentered
          div.column.is-5
            figure.image.is-4by3
              img(src='/img/car.png' alt='Cars')
          div.column.is-6.is-offset-1
            h1.title.is-2 Cars
            h2.subtitle.is-4 We are spawning cars at the large radzones. Take them and store them in your secret base!

  section.hero
    div.hero-body
      div.container.has-text-centered
        div.columns.is-vcentered
          div.column.is-6.is-offset-1
            h1.title.is-2 Shop
            h2.subtitle.is-4 Need more ammo while away from you base, or some other items you currently dont have? Use our ingame shop to buy items for your Reward Points.
          div.column.is-5
            figure.image.is-4by3
              img(src='/img/shop.png' alt='Shop')



  //- section.section
    div.container
      p Welcome!
      //- h1.title [BETA] Game Limits - Under heavy development


