extends ../template/default
  
block content
  section.hero.is-primary.is-bold
    .hero-body
      .container
        h1.title Mods

    .hero-foot
      .container
        div.tabs.is-boxed
          ul
            li.is-active
              a Changelog
            li
              a Info
            li
              a Levels
            li
              a Chat
            li
              a Friends
            li
              a Killfeed
            li
              a Kits
            li
              a Playtime
            li
              a Remove
            li
              a Shop
            li
              a Spawn
            li
              a Stacks
            li
              a Teleport
            li
              a Tips

  section.section
    div.container
      div.content
        h2.title Fri, 24 Nov - Update

        strong Levels
        ul
          li Fixed acquiring level not loading when joining the server

        strong Cars
        ul
          li Fixed passenger seats not working correctly
          li Added trunk, so you can store items in the back of your car
