extends ../template/default
  
block content
  section.hero.is-primary.is-bold
    .hero-body
      .container
        h1.title Rules

  section.section
    div.container
      div.content
        p We dont have a lot of rules, however the following is strictly forbidden and will results in a instant ban by our automated systemd:
        ul
          li Spamming the chat.
          li Advertising of any goods or services, other resources, media or events not releated to the game.
          li Hacking, cheating or scripting.
          li Using glitched to get an unfair advantage.
