extends ../template/default
  
block content
  section.hero.is-primary.is-bold
    .hero-body
      .container
        h1.title Rules

  section.section
    div.container
      div.content
        p We don't have many rules, but we do ask you to not:
        ul
          li Spam the chat;
          li Advertise any goods, services, other resources, media or events not related to the game;
          li Hack, cheat or script;
          li Use glitches to get an unfair advantage.
        p We might ban you if we think it's necessary. Ban appeals can be requested in our <a href="https://discord.gg/se7U5BR" target="_blank">Discord server</a>.
