extends ../template/default
  
block content
  section.hero.is-primary.is-bold
    .hero-body
      .container
        h1.title Rules

  section.section
    div.container
      div.content
        p Please, follow these simple rules:
        ul
          li Spamming the chat.
          li Advertising of any goods or services, other resources, media or events not releated to the game.
          li Hacking, cheating or scripting.
          li Using glitches to get an unfair advantage.
        p We might ban you if we think it is necessary, Ban appeals can be requested in our <a href="https://discord.gg/se7U5BR" target="_blank">Discord server</a>.
