extends ../../template/default
  
block content
  section.hero.is-link.is-bold
    .hero-body
      .container
        h1.title Admin / Dashboard

  section.section
    div.container
      div.content
        p There is not much to see here, sorry :(
