extends ../../template/default
  
block content
  include ./header

  section.section
    div.container
      div.content

        h2.title Cars

        ul
          li 4 player seats
          li Trunk storage
          li Spawns in the following radtowns:
            ul
              li launch_site
              li water_treatment_plant
              li trainyard
              li military_tunnel
              li airfield
              li gas_station
          li Cars will explode when parked under water (driving under water is okay, as long you dont exit your car while doing so..)
          li Cars have healt, and can be repaired with metal fragments (Just use the hammer)
