extends ../../template/default
  
block content
  include ./header

  section.section
    div.container
      div.content

        h2.title Thu 7, December - Update version 2.0.0

        strong Levels
        ul
          li Fixed acquiring level not loading when joining the server

        strong Cars
        ul
          li Fixed passenger seats not working correctly
          li Added trunk, so you can store items in the back of your car
