extends ../../template/default
  
block content
  include ./header

  section.section
    div.container
      div.content

        h2.title Chat

        ul
          li Chat can be prefixed with the following tags:
            ul
              li [VIP] (green) - When a player has a VIP subscription, see the shop for more info
              li [Friend] (gray) - When a player is in your friendlist
              li [Clantag] (orange) - With players in a specific clan (coming soon..)
          li Chat will be saved and is readably for everyone on this website.
          li Chatting with ingame players through this website (coming soon..)
          li Active admins will monitor the chat, type 'admin' to send a notification to any available admins
