extends ../../template/default
  
block content
  include ./header

  section.section
    div.container
      div.content

        h2.title Combat/Raid blocking

        ul
          li Raid block will activate in the raided zone for 5 minutes after the last raid event
            ul
              li Unable to teleport
              li Unable to use the remover tool
          li Combat block will activate in the combat zone when a player gets damage from another player
            ul
              li Unable to teleport
              li Unable to use the remover tool
