extends ../../template/default
  
block content
  include ./header

  section.section
    div.container
      div.content

        h2.title Friends

        ul
          li Manage your friends
          li Chat commands: /friend (/f for short)
          li Friends will automatically have access to all your codelocks
          li Friends will automatically added to the whitelist of turrets
