extends ../../template/default
  
block content
  include ./header

  section.section
    div.container
      div.content

        h2.title Information screen

        ul
          li Welcome screen
          li Information about wipes
          li Settings screen
          li Commands: /info (/i for short)
