extends ../../template/default
  
block content
  include ./header

  section.section
    div.container
      div.content

        h2.title Kits

        ul
          li Kits can be bought using the shop
          li Commands: /kit (/k for short)
