extends ../../template/default
  
block content
  include ./header

  section.section
    div.container
      div.content

        h2.title Playtime

        ul
          li Earn 2 RP every hour you're on the server
            ul
              li 10 RP when vip
