extends ../../template/default
  
block content
  include ./header

  section.section
    div.container
      div.content

        h2.title Raid Alert

        ul
          li Receive a notification when you're not playing on the server when you got raided (coming soon..)
            ul
              li Telegram
              li Discord
              li Email
