extends ../../template/default
  
block content
  include ./header

  section.section
    div.container
      div.content

        h2.title Remove Tool

        ul
          li Remove entities placed by you or your friends
          li Chat commands: /remove (/r for short) - toggle
          li Will disable automatically after 30 seconds
